---
layout: post
title: 目录
date: 2018-01-04 22:50:00.000000000 +08:00
keywords: Samoy, samoy,目录
excerpt: 博客时间线
---
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>

<!--站内搜索-->
<div class="search-box">
    <input type="text" id="search-input" placeholder="搜索博文">
</div>

<ol class="time-line">
    <hr/>
    <!--置顶-->
    {% for post in site.posts %}
    {% if post.istop %}
    <li>
        <h1 class="time-line-title"><a href="{{ post.url }}" title="访问 {{ post.title }}">[置顶]{{ post.title }}</a></h1>
        <div class="time-line-mate">
            <time datetime="{{post.date | date: date_to_xmlschema}}" class="post-list__meta--date date">{{ post.date |
                date: "%F"}}
            </time> &#8226; <span class="post-list__meta--tags tags">{{ post.category }}</span></div>
    </li>
    {% endif %}
    {% endfor %}
    <!--不置顶-->
    {% for post in site.posts %}
    {% if post.istop %}
    {% else %}
    <li>
        <h1 class="time-line-title"><a href="{{ post.url }}" title="访问 {{ post.title }}">{{ post.title }}</a></h1>
        <div class="time-line-mate">
            <time datetime="{{post.date | date: date_to_xmlschema}}" class="post-list__meta--date date">{{ post.date |
                date: "%F"}}
            </time> &#8226; <span class="post-list__meta--tags tags">{{ post.category }}</span></div>
    </li>
    {% endif %}
    {% endfor %}
</ol>

<script type="text/javascript">
    $(document).ready(function () {
        const posts = $(".time-line li");
        const input = $("#search-input");
        input.on("input", function () {
            const value = $(this).val().toLowerCase();
            posts.each(function () {
                const post = $(this);
                const title = post.find("h1").text().toLowerCase();
                const category = post.find(".tags").text().toLowerCase();
                if (title.indexOf(value) > -1 || category.indexOf(value) > -1) {
                    post.show();
                } else {
                    post.hide();
                }
            })
        })
    })
</script>