<section class="post-comments">
    <h5>欢迎在评论区留下您的见解~</h5>
    <script src="https://giscus.app/client.js"
            data-repo="Samoy/samoy.github.io"
            data-repo-id="MDEwOlJlcG9zaXRvcnkxMTI3MjA1MDM="
            data-category="Announcements"
            data-category-id="DIC_kwDOBrf6d84CegUh"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="0"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="preferred_color_scheme"
            data-lang="zh-CN"
            crossorigin="anonymous"
            async>
    </script>
</section>
